body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#FrontPageLogo {
  width: 30em;
  display: block;
  margin: auto;
  margin-top: 200px;
}

.flex {
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 700px;
}

#SmallLogo {
  width: 2em;
  margin: auto;
  display: inline-block;
  background: white;
  border-radius: 3em;
  margin-right: 5px;
}

#DescriptionImage {
  border-radius: 91px 0px 90px 0px;
  -moz-border-radius: 91px 0px 90px 0px;
  -webkit-border-radius: 91px 0px 90px 0px;
  border: 11px double #000000;
  display: inline block;
  margin: 3% 0 0 10%;
}
